.popup
.popup__form
    .input
        input.url__input(type="text", placeholder="Enter URL")
        .error_message(id="url_error")
    .button
        button.add__button Add
    .button
        button.close__button Close
.popup__form__cast
    .input
        input.name__input(type="text", placeholder="Enter UsadfsdRL")
        .error_message(id="url_error")
    .button
        button.add__button Add
    .button
        button.close__button Close        