extends ../layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/stars.css")
    link(rel="stylesheet", href="/css/new-form.css")
    link(rel="stylesheet", href="/css/popup.css")
block scripts
    script(src="/js/set_raiting.js", defer)
    script(src="/js/add-poster-popup.js", defer)
    script(src="/js/add-genre.js", defer)
    script(src="/js/post-item.js", defer)

block content
    include ./add-image-popup.pug
    .form_container
        .box.box0
            .menu
                button.save__button Save
                button.cancel__button Cancel
        .box.box1 
            .poster 
                p Click to add
        .box.box2
            .item 
                input.title(type='text', placeholder="Enter title")
            .item.slogan 
                input.slogan__input(type='text', placeholder="Enter Slogan")
            .item.genres
                .add_genre Add genre
            .item.raiting_container
                .raiting
                    .container
                        .progress
                            .progress-bar
                                p.raiting_mark
                input(type="number", id="raiting_score", value=0, max="100")
                
            .item.overview Overview
            .item
                textarea.description(placeholder="Enter description", rows=5)
        .box.box3
            .info-container
                .info
                    .key Status
                    .value
                        select.status__select
                            option(value="")
                            option(value="planned") Planned
                            option(value="announced") Announced
                            option(value="production") In Production
                            option(value="post") Post Production
                            option(value="released") Released
                .info
                    .key Release Date
                    .value 
                        input.release_date__input(type="date")
                .info
                    .key Original language
                    .value 
                        select.language__select
                            option(value="")
                            each language in lang
                                option(value=language.code) #{language.name}
                .info
                    .key Duration
                    .value
                        input.duration__input(type="number")
                .info
                    .key Budget
                    .value
                        input.budget__input(type="number")
                .info
                    .key Revenue
                    .value
                        input.revenue__input(type="number")