extends layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/about.css")
    link(rel="stylesheet", href="/css/home-layout.css")

block content
    .about__container
        .about_content
            p This product uses the TMDb API but is not endorsed or certified by 
                a(href="https://www.themoviedb.org/", target="_blank") TMDb
