extends layouts/nav.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

block content
    .container
        form.login__form(action="/auth/login", method="POST")
            input.input__name(type="text", placeholder="username", name="username")
            input.input__password(type="password", placeholder="password", name="password")
            button.btn Login
            p.message Not registered? 
                a(href='/auth/signup') Create an account


