.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.card-wrapper{
  margin: 10px;
  cursor: pointer;
}

.card-wrapper:hover > .card {
  transform: scale(1.05);
}

.card-wrapper:hover > .card img {
  filter: brightness(30%);
}

.card-wrapper:hover > .title {
  color: green;
}

.card {
  width: 150px;
  height: 230px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-out;
}

.card img { 
  height: 100%;
}

.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
}

.title {
  text-align: center;
  margin-top: 10px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover .pen, 
.card:hover .bookmark, 
.card:hover .bookmark-checked, 
.card:hover .trash {
  transition: 1s;
  opacity: 1;
  z-index: 999;
}
  .trash, .bookmark, .bookmark-checked, .pen {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    background: none;
    background-size: contain;
    border: none;
    padding: 0 0;
    outline: none;
    right: 15px;
    top: 15px;
    }

  .trash {
    left: 15px
  }

    .bookmark {
      background-image: url("/img/wbook.png");
    }

    .trash {
      background-image: url("/img/wtrash.png");
    }
    
    .bookmark-checked {
      background-image: url("/img/gbook.png");
    }

    .trash:hover {
      cursor: pointer;
      background-image: url("/img/rtrash.png");
    }
    
    .pen{
      background-image: url("/img/wpen.png");
    }

    .pen:hover{
      background-image: url("/img/gpen.png");
    }
    
    .bookmark:hover{
      cursor: pointer;
      background-image: url("/img/gbook.png");
    }
    
    .bookmark-checked:hover{
      cursor: pointer;
      background-image: url("/img/wbook.png");
    }
    
    .trash a, 
    .pen a, 
    .bookmark a,
    .bookmark-checked a {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 99999;
    }