.container {
    width: 50%;
    padding: 3% 0 0;
    margin: auto;
  }

  .movie__form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

.movie__form h2 {
    font-family: "Roboto", sans-serif;
    margin-top: 0;
}

.cell{
    text-align: left;
    margin-bottom: 10px;
}

label {
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
}  

span {
    font-size: 16px;
    color: red;
}

  
.movie__form input, .movie__form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }
  
.movie__form input[disabled], .movie__form label[disabled]{
    display: none;
  }

.movie__form textarea {
    resize: none;
  }

.movie__form input[type="date"] {
    padding: 7.5px;
  }  

.w5 {
    width: 100%;
}

.w4 {
    width: 48%;    
}  

.w3 {
    width: 22%;
}

.w2 {
    width: 48%;
}

.w1 {
    width: 24%;
}

.btn {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    transition: all 0.3 ease;
    cursor: pointer;
  }

.btn:hover,.btn:active,.btn:focus
 {
  background: #43A047;
}

/* 
.chosen-container-single .chosen-single {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
} */